*{
    border: 0;
    margin: 0;
    text-decoration-color: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color:white;
}
#corpo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#f2f2f2;
    width: 100%;
    height: 100%;
    margin:30px;
}

h1{
    margin: 20px;
}
button{
    cursor: pointer;
    padding: 20px;
    background: #A1AEF5;
    border: none;
    border-radius: 42px;
    width: 150px;
    font-size: 20px;
}

#cliente{
    background-color: rgb(227, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#cliente form{
    display: flex;
    gap: 5px;
    flex-direction: column;

}
.estilo{
    cursor: pointer;
    padding: 10px;
    background: #A1AEF5;
    border: none;
    border-radius: 42px;
    width: 150px;
    font-size: 20px;
}
